@charset "utf-8";

#timer-title {
  background-color: pink;
  border: 1px solid greenyellow;
  float: left;
  width: 30%;
}

#time-display {
  border: 1px solid green;
  float: left;
  width: 15%;
}

#input-box {
  clear: both;
  width: 54%;
}
